$transY: 50px;

.preview-card {

    position: relative;
    margin: 1em 1.5em;
    padding: 0;
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: all .6s .1s ease-in-out;

    &:hover {



    }

    &:hover .view {

        transform: translateY($transY);

    }
   
    &:hover img {

        transform: translateY($transY);
        filter: brightness(.3);

    }

    &:hover .card-title {

        opacity: 1;

    }
        
    .view {

        background-color: orange;
        position: absolute;
        top: calc((-1) * $transY);
        z-index: 5;
        opacity: 1;
        transition: all .4s .1s ease-in-out;
        height: $transY;
        width: 100%;
        font-size: 25px;
        line-height: $transY;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        transform: translateY(0);
        padding: 0em 1em; margin: 0;
    }

    .card-title {

        position: absolute;
        bottom: 0;
        height: calc(100% - $transY);
        width: 100%;
        display: flex; align-items: center; justify-content: center;
        font-size: 1rem;
        opacity: 0;
        transition: all .2s .2s ease-in-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }

    img {

        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(0);
        transition: all .4s .1s ease-in-out;

    }

}