.navbar {

    position: absolute;
    z-index: 3;
    top: 1em;
    left: 2em; right: 2em;
    height: 80px;
    display: flex;
    justify-content: space-between;

    .brand {

        position: relative;
        margin: 0em;
        padding: 0em;
        height: fit-content;
        font-size: 2.5rem;
        color: white;
        border-top: 1px solid white;
        cursor: pointer;

        span {

            font-size: 1.5rem;
            // opacity: .8;
            opacity: 0;

        }

    }

    .navbar-list {

        position: relative;
        width: auto;
        display: flex;

        .navbar-item {

            position: relative;
            margin: 0em 1em;
            background-color: transparent;
            border-radius: 12px;
            width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            backdrop-filter: blur(5px);
            box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .2);
            border: 1px transparent solid;
            cursor: pointer;
            transition: all .6s .1s ease-in-out;
    
            &:hover {
    
                border: 1px white solid;
                
            }
    
        }


    }

    

}