@use '../../util/variables.scss';

.home-page-container {

    position: relative;
    min-height: 100vh;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .title {

        font-size: 5rem;
        width: 80vw;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 10px rgba(0,0, 0, .5);

    }

    .section {

        position: relative;
        width: inherit;
        height: 100vh;
        overflow: hidden;      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // &:first-child {

        //     background: url('../../../public/images/cover-01.jpeg') center center / cover fixed no-repeat;

        // }
        
        &:nth-child(even){

            background-color: white;
            color: variables.$black;
            box-shadow: 0px -20px 20px rgba(0, 0, 0, .2);
            
        }
        
        &:nth-child(odd){
            
            background: url('../../images/cover-01.jpeg') center center / cover fixed no-repeat;
            color: white;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
            box-shadow: inset 0px 20px 20px rgba(0, 0, 0, .2);

        }

        .content {

            position: relative;
            width: 50%;
            height: 80%;

            &.--about-me {

                display: grid;
                grid-template: 
                    "title title"
                    "profile para"
                    "skill skill";
                grid-column-gap: 50px;
                justify-content: center;
                align-items: center;

                .head { grid-area: title; }
                .para { grid-area: para; .scroll-para{ max-height: 80px; overflow-y: scroll; &::-webkit-scrollbar{width:0px;}} }

                .profile-img {

                    grid-area: profile;
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border: 5px solid white;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
                    overflow: hidden;
                    cursor: pointer;

                    img {

                        position: absolute;
                        transform: scale(1);
                        transition: all .6s .1s ease-in-out;
                        width: 100%; height: inherit;
                        object-fit: cover;
                        filter: contrast(.8) saturate(1.2);

                        &:hover {
                            
                            transform: scale(1.2);
    
                        }

                    }

                }

                .skill-box {

                    grid-area: skill;
                    display: flex;
                    align-items: center;            
                    overflow-x: scroll;
                    
                    width: 100%;
                    max-width: 100%;
                    height: 150px;

                    &::-webkit-scrollbar {height: 0;}


                    .skill {

                        margin: 0em 1em;
                        padding: 1em;
                        height: 50%;
                        width: 100px;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        font-size: 1rem;

                        .icon {
                            font-size: 2.5rem;
                        }

                    }


                }


            }

        }


    }

}